@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", serif;
}
.main-content {
    background-color: #f8f9fa; /* Light background for visibility */
    min-height: 100vh; /* Ensures full height */
    padding: 80px 20px; /* Prevents overlap with navbar */
}
